.navbar-default{
    background-color: #071b56;
    min-height: 1200px;
}
.navbar-default .navbar-brand{
    color: #ffffff;
}
.navbar-default .navbar-brand:hover{
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
}
.navbar-default .navbar-nav>li:hover{
    background: #0f2a79;
}
.navbar-default .navbar-nav>li{
    width: 100%;
    border-bottom: 2px solid #ffffff;
}
.navbar-default .navbar-nav>li:last-child{
    border-bottom: 0px;
}
.navbar-default .navbar-nav>li:first-child{
    border-top: 2px solid #ffffff;
}
.navbar-default .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}